In [ ]:
value1 = ('Nhap so: ')
value2 = ('Nhap so: ')
value1 + value2

In [ ]:
with open ('text.txt', mode = 'w') as accounts:
    accounts.write('2014612 Ly Minh Nhut 10\n')
    accounts.write('201463 My Minh Nhut 15\n')
    accounts.write('201464 Ny Minh Nhut 17\n')

In [ ]:
with open ('text2.txt', mode = 'w') as accounts:
  print('201461 Ly Minh Nhut', file = accounts)
  print('201462 Ny Minh Nhut33', file = accounts)

In [ ]:
with open('text.txt', mode = 'r') as accounts:
  print(f"{'Mssv':<10}{'Name':<20}{'Score':>2}")
  for record in accounts:
    Mssv, Name, Score = record.split()
    print(f"{Mssv:<10}{Name:<20}{Score:>2}")

Mssv      Name                Score

ValueError: ignored

In [ ]:
import pandas as pd
url = 'text3333.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)
dataframe.iloc[:10]

           No.;ID;Khoa;Name;Score
0  1;20146162;CKM;Nguyen Van A;10
1   2;20145555;CKD;Nguyen Van B;9
2   3;20146666;CKM;Nguyen Van C;8
3    4;20146666;KT;Nguyen Van D;5
4      5;20245625;CKD;Ly Minh A;4
5      6;20147777;CLC;Ly Minh B;7
6      7;20149999;CLC;Ly Minh C;8
7     8;20148888;CKM;Ly Minh D;10
8      9;20143333;CKD;Ly Minh E;3
9     10;20144567;CKM;Ly Minh F;6

In [ ]:
dataframe = dataframe.set_index(dataframe['No.;ID;Khoa;Name;Score'])
dataframe.loc['1;20146162;CKM;Nguyen Van A;10']

No.;ID;Khoa;Name;Score    1;20146162;CKM;Nguyen Van A;10
Name: 1;20146162;CKM;Nguyen Van A;10, dtype: object

In [ ]:
dataframe[dataframe['Name']=='Nguyen Van A'].head(10)

In [ ]:
dataframe[(dataframe['Khoa']='CKM')&(dataframe['Name']=="Nguyen Van A')]")]

In [ ]:
dataframe['Khoa'].replace('CKM','Co khi may').head(1)

In [ ]:
dataframe.replace('CKM','Co Khi May').head(10) #thay the

In [ ]:
print('Diem cao nhat',dataframe['Score'].max())

In [ ]:
print('Diem thap nhat',dataframe['Score'].min())

In [ ]:
print('Diem trung binh',dataframe['Score'].mean())

In [ ]:
print('Nguoi',dataframe['No.'].count())

In [ ]:
dataframe['Khoa'].unique()
dataframe['Khoa'].Value_counts()

In [ ]:
dataframe.drop('ID',axis=1).head(10)  #xoa cot
dataframe.drop(['ID','Khoa'],axis=1).head(10)
dataframe.drop(dataframe.columns[2:4],axis=1).head(1)

In [ ]:
dataframe[dataframe['Khoa']!='CKM'].head(10) #xoa hang
dataframe[dataframe['Score']!=3].head(10)
dataframe[dataframe.index!=4].head(10)

In [ ]:
dataframe.drop_duplicates().head(10) #xoa may cai trung`

In [ ]:
dataframe.groupby('Khoa').head(10)  #nhom nhung cai trung`

In [ ]:
dataframe.groupby('Khoa').count()   #dem nhung cai trung
dataframe.groupby(['Khoa','Diem']).count
dataframe.groupby('Khoa')['Score'].count

In [ ]:
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023',periods = 100000, freq ='30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_anount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_anount
2023-01-01         14536
2023-01-08        100392
2023-01-15        100543
2023-01-22        100631
2023-01-29        100982
2023-02-05         82093

In [ ]:
dataframe.resample('2W').mean()
dataframe.resample('M').mean()

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data
#Tìm số lượng huy chương vang của nước nào đó
#Tìm số huy chương vàng theo cuộc thi cá nhân của nước nào đó
#Tính số lượng huy chương trung bình của 1 đội, 1 nước,...

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data = data.set_index(data['NOC'])
data.loc['AUT']

In [ ]:
data[(data['Event'] == 'individual') & (data['Medal'] == 'Gold')]
print('Nguoi',(data['Medal'] == 'Gold').count())

Nguoi 2311

In [ ]:
data[(data['NOC'] == 'USA') & (data['Medal'] == 'Silver')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
45,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
46,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
85,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Silver
87,1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Silver
121,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,four-man,M,Silver
...,...,...,...,...,...,...,...,...
2296,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
2298,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data[(data['NOC'] == 'Turin') & (data['Medal'] == 'Bronze')]

In [ ]:
data[data['NOC']=='USA'].head(20)

In [ ]:
data_USA = data[data['NOC']=='USA']

In [ ]:
data_USA[data_USA['Medal']=='Gold']

In [ ]:
data_USA.groupby('Medal').count()

        Year  City  Sport  Discipline  NOC  Event  Event gender
Medal
Bronze    58    58     58          58   58     58            58
Gold      78    78     78          78   78     78            78
Silver    80    80     80          80   80     80            80

In [ ]:
gold_medal = data[(data['Medal']=='Gold')&(data['Event']=='individual')]

In [ ]:
gold_medal['Medal'].unique()
gold_medal['Medal'].value_counts()

Gold    65
Name: Medal, dtype: int64